<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">QLDL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('manager_index')}}">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('add_store')}}">Add Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('search_store')}}">Search Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('thu_tien')}}">Thu tiền</a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Báo cáo
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Báo cáo doanh thu</a>
        <a class="dropdown-item" href="#">Báo cáo công nợ</a>
      </div>
    </li>
    </ul>
    <div class="navbar-collapse collapse ">
        <ul class="navbar-nav ml-auto">
           <li class="nav-item">
                <a class="nav-link" href="{{url_for('index')}}">Log out</a>
            </li>
        </ul>
    </div>
  </div>
</nav>